* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #323232;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.message {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  padding: 1em;
  gap: 10px;
  background-color: rgba(247, 247, 253, 0.8);
  border-radius: 10px;
}

.wrap {
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding: 2em;
  gap: 1em;
  width: 600px;
  height: 600px;
  margin: auto;
  background-image: url("https://i.pinimg.com/originals/3d/8c/2f/3d8c2f2c82c1c9ef1e27be645cd1aa17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  grid-row: span 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}